#root {
  --gutter: 3em;
  margin: 5px;
}

body,
html {
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  gap: var(--gutter), var(--gutter);
}

.content-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gutter), var(--gutter);
}

.nav-container {
  padding: calc(var(--gutter)/2);
  flex: 1 0 var(--gutter);
}

.sidebar,
.feed,
.friend-list {
  flex: 1 0 auto;
}

.friend-img {
  width: 4em;
  height: 6em;
  border: 1px salmon solid;
}

.friend {
  display: flex;
}
